body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 10px;
  }

  .grid, .tr, .td {
      border-spacing: 0px;
  }

  .square {
    background: #aaffff;
    border: 1px solid #eaa;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
  }

  .square.selected {
    border: 5px solid #06a;
    box-sizing: border-box;
  }

  .square img {
    overflow: hidden;
  }