body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 10px;
  }

  .grid {
      background-color: rgb(184, 87, 167);
      align-content: center;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .square {
    background: #aaffff;
    border: 1px solid #f00;
    float: left;
  }
 